<html lang="ko"><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>swbot 단체정보</title>
  <script type="text/javascript" src="staticnedrug.mfds.go.kr/static/lib/jquery/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="staticnedrug.mfds.go.kr/resources/js/common-pbp.js"></script>
  <script>
      /*<![CDATA[*/
      var entpSeq = "20208826"
      
      $(document).ready(function () {
          getList('1');
      });
      
      function getList(page){
          param = {};
          param.entpSeq = entpSeq;
          param.page = page;
          
          $.get("/pbp/CCBBB01/getEntpItemList", param, function (result) {
              $('#list').replaceWith(result);
          });
      }
      
      function closeEntpInfoPopup() {
          window.close();
      }
      
      /*]]>*/
  </script>
  <noscript class="noScriptTitle">자바스크립트를 지원하지 않는 브라우저에서는 일부 기능을 사용하실 수 없습니다.</noscript>
  <style>
      body,html{min-width:0px;}
      .korea_wrap {position:relative; width:680px; height:auto; border:8px solid #2caec6}
      .korea_wrap header {width:96%; margin:0 auto; padding-bottom:20px;}
      .korea_wrap header div { font-weight: 600; padding-left: 35px; background: url(../../../../../resources/images/int_img/bbsctt.png) 0px 1px no-repeat; height: 70px;}

      .mt20, .drug_info_mid .info_box{margin-top:10px !important;}

      @media screen and (max-width: 767px) {
          .page_navi a:nth-child(n+6){display: none;}
      }

  </style>
</head>

<body>
<div class="korea_wrap">
  <header>
      <div>
          <h1>단체정보</h1>
          <button type="button" title="창닫기" onclick="window.close();"></button>
      </div>
  </header>

  <div class="con">
      <p class="text_st3 mt10">기본정보</p>
      <table class="tb_base">
          <caption>
              <span>단체 기본정보 테이블 : 단체명, 업종코드, 대표자명</span>
          </caption>
          <colgroup>
              <col style="width:15%">
              <col style="width:35%">
              <col style="width:15%">
              <col style="width:35%">
          </colgroup>
          <tbody>
          <tr>
              <th scope="row" class="al_c">단체명</th>
              <td colspan="3">swbot</td>
          </tr>
          
          <tr>
              <th scope="row" class="al_c">업종코드</th>
              <td>정보검색소프트웨어</td>
              <th scope="row" class="al_c">대표자명</th>
              <td>이성원</td>
          </tr>
          </tbody>
      </table>

      <div id="list">
      <p class="text_st3 mt20">품목리스트 - 4건</p>
      <table class="tb_base">
          <caption>
              <span>품목리스트 테이블 :: 순번, 품목명</span>
          </caption>
          <colgroup>
              <col style="width:6%">
              <col style="width:74%">
              <!--<col style="width:39%">-->
              <col style="width:20%">
          </colgroup>
          <thead>
          <tr>
              <th scope="col">순번</th>
              <th scope="col">품목명</th>
              <!--<th scope="col">품목 영문명</th>-->
          </tr>
          </thead>
          <tbody>
          <tr>
              <td class="al_c">1</td>
              <td>
                  <a href="https://discord.com/oauth2/authorize?client_id=732787750188875796&permissions=336066753&scope=bot" target="_blank" title="새창열림">아리</a>
              </td>
              <!--<td class="al_c" th:text="${list.itemEngName}"></td>-->
              <td class="al_c"></td>
          </tr>
          <tr>
              <td class="al_c">2</td>
              <td>
                  <a href="https://discord.com/oauth2/authorize?client_id=761106520573476875&permissions=336066753&scope=bot" target="_blank" title="새창열림">sw</a>
              </td>
              <!--<td class="al_c" th:text="${list.itemEngName}"></td>-->
              <td class="al_c"></td>
          </tr>
          <tr>
              <td class="al_c">3</td>
              <td>
                  <a href="#" title="새창열림" onclick="alert('아직 운영 준비중 입니다.')">mumu</a>
                  <a href="https://discord.com/api/oauth2/authorize?client_id=826673276621160459&permissions=0&scope=bot" target="_blank" title="새창열림">mumu</a>
              </td>
              <!--<td class="al_c" th:text="${list.itemEngName}"></td>-->
              <td class="al_c"></td>
          </tr>
          <tr>
              <td class="al_c">4</td>
              <td>
                  <a href="https://discord.com/oauth2/authorize?client_id=851681108374585344&scope=bot" target="_blank" title="새창열림">썽봇</a>
              </td>
              <!--<td class="al_c" th:text="${list.itemEngName}"></td>-->
              <td class="al_c"></td>
          </tr>
          </tbody>
          
      </table>
      <div class="spDiv" id="paging_div">
      <p class="page_navi">
          <button type="button" title="처음" class="page_first disabled">처음</button>
          

          <button type="button" title="이전" class="page_prev disabled">이전</button>
          

          
              <a href="#list" class="on" title="현재페이지">1</a>
              
          

          <button type="button" title="다음" class="page_next disabled">다음</button>
          

          <button type="button" title="마지막" class="page_last disabled">마지막</button>
          
      </p>
  </div>
  </div>
  </div>

  <div class="bot">
      <div class="closed">
          <button type="button" title="닫기" onclick="window.close();">닫기</button>
      </div>
  </div>
</div>

</body><whale-quicksearch translate="no"></whale-quicksearch></html>